borks.click {
	handle {
		reverse_proxy http://click:3000
	}

	tls {
		issuer acme {
			dns porkbun {
				api_key {$PORKBUN_API_KEY}
				api_secret_key {$PORKBUN_SECRET_KEY}
			}
		}
	}

	tls ./cert/domain.cert.pem ./cert/private.key.pem
}

qr.borks.click {
	handle {
		reverse_proxy http://qr:3001
	}

	tls {
		issuer acme {
			dns porkbun {
				api_key {$PORKBUN_API_KEY}
				api_secret_key {$PORKBUN_SECRET_KEY}
			}
		}
	}

	tls ./cert/domain.cert.pem ./cert/private.key.pem
}
