(clicktls) {
	tls {
		issuer acme {
			dns porkbun {
				api_key {args[0]}
				api_secret_key {args[1]}
			}
		}
	}

	tls ./cert/domain.cert.pem ./cert/private.key.pem
}

borks.click {
	reverse_proxy http://click:3000

	import clicktls {$PORKBUN_API_KEY} {$PORKBUN_SECRET_KEY}
}

qr.borks.click {
	reverse_proxy http://qr:3001

	import clicktls {$PORKBUN_API_KEY} {$PORKBUN_SECRET_KEY}
}

cdn.borks.click {
	reverse_proxy http://cdn:3002

	header Access-Control-Allow-Origin *

	import clicktls {$PORKBUN_API_KEY} {$PORKBUN_SECRET_KEY}
}

http://brks.o {
	reverse_proxy http://click:3000
}

http://qr.brks.o {
	reverse_proxy http://qr:3001
}

http://cdn.brks.o {
	reverse_proxy http://cdn:3002
}