(clicktls) {
	tls {
		issuer acme {
			dns porkbun {
				api_key {args[0]}
				api_secret_key {args[1]}
			}
		}
	}

	tls ./cert/domain.cert.pem ./cert/private.key.pem
}

borks.click {
	handle {
		reverse_proxy http://click:3000
	}

	import clicktls {$PORKBUN_API_KEY} {$PORKBUN_SECRET_KEY}
}

qr.borks.click {
	handle {
		reverse_proxy http://qr:3001
	}

	import clicktls {$PORKBUN_API_KEY} {$PORKBUN_SECRET_KEY}
}
